.p-info,
.team-container,
.form-container {
  font-size: 25px;
  text-align: justify;
}

.p-info,
.simple-form {
  justify-items: center;
}

.team-container,
.form-container {
  display: grid;
}

.p-info, .txt-team {
  margin-left: 16rem;
  margin-right: 16rem;
}

.txt-team{
  margin-top: 0%;
}

.team-container {
  justify-content: center;
  row-gap: 50px;
  border-radius: 4px;
}

.subtitle {
  margin-left: 13rem;
  margin-bottom: 0%;
}


.team-container div:nth-child(2n + 1) {
  background-image: linear-gradient(#102172, #601875),
    linear-gradient(90deg, #553c88, #b268c9, #601875);
}

.form-container h2 {
  margin-left: 260px;
}

.team-card {
  border: double 1px transparent;
  background-image: linear-gradient(#601875, #102172),
    linear-gradient(90deg, #553c88, #b268c9, #601875);
  height: 420px;
}

.team-name {
  margin-left: 2rem;
  margin-bottom: 0%;
  margin-top: 1rem;
}

.team-card-body {
  display: flex;
}

.team-card-img {
  width: 18rem;
  height: 20rem;
  border-radius: 5%;
  margin-left: 1rem;
  margin-top: 0%;
}

.team-data {
  display: grid;
  font-size: medium;
  justify-content: center;
  width: fit-content;
}

.p-resume {
  margin-left: 1rem;
  margin-right: 3rem;
}


@media only screen and (max-width: 600px) {
  .subtitle {
    margin-left: 2rem;
  }

  .form-container h3 {
    margin-left: 40px;
  }

  .txt-team {
    margin-bottom: 0;
    text-align: justify;
    width: 300px;
  }

  .p-info,
  .txt-team {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}
