
.text-info, .team-container {
    font-size: large;
    text-align: justify;
}

.p-info, .subtitle {
    margin-left: 180px;
    margin-right: 180px;
}

.simple-form{
    justify-items: center; 
}

.team-container {
    display: grid;
    justify-content: center;
    row-gap: 50px;
    background-color: #237BA0;
    border-radius: 4px;
}

.team-container div:nth-child(2n+1){
    background-color: #022a4a;
}


@media only screen and (max-width: 600px) {
    .subtitle{
        margin-left: 2rem;
    }

    .txt-team{
        margin-bottom: 0;;
        text-align: justify;
        width: 300px;
    }

    .p-info, .txt-team{
        margin-left: 2rem;
        margin-right: 2rem;
    }   

    
}