.slide {
  overflow: hidden;
  height: max-content;
}

.course-card {
  display: flex;
  align-items: center;
  width: 800px;
  /* height: 470px; */
  border: double 1px transparent;
  background-image: linear-gradient(#601875, #102172),
    linear-gradient(90deg, #650577, #f66c49, #f82f5c);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 15px;
  animation: fadeIn 1s ease-out forwards;
}

.slide .course-card {
  margin-left: 3px;
  margin-right: 3px;
  /* height: 480px; */
}

.course-card .course-title {
  font-size: 18px;
}

.course-card,
.course-card-img {
  border-radius: 15px;
}

.c-subtitle {
  margin-left: 3rem;
}

.course-card-img {
  align-self: center;
  width: 21rem;
  height: 20rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.card.info {
  width: fit-content;
  display: grid;
  margin-right: 6rem;
}

.course-mod {
  background: linear-gradient(90deg, #b3d9d7, #87e0f7);
  width: fit-content;
  height: auto;
  color: var(--bg-primary);
  text-align: inherit;
  border-radius: 5px;
  margin-bottom: 0;
}

.course-title {
  font-size: 20px;
}

.course-title,
.course-mod {
  margin-left: 1rem;
}

.course-data {
  display: flex;
  justify-content: space-around;
}

.c-list,
.course-data {
  font-size: 12px;
}

.course-data .c-details {
  padding-left: 1rem;
  padding-right: 1rem;
} 

.c-resume {
  font-size: 11px;
}

.categorie {
  display: grid;
  margin-bottom: 3rem;
  justify-content: center;
}

.categorie h4 {
  justify-self: left;
  margin-left: 0;
}

.categorie hr {
  width: 100%;
  margin-bottom: 1rem;
}

.categorie .slide {
  overflow: hidden;
}

.slide .videoblog-banner-card {
  min-width: 600px;
  height: 260px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  background-size: cover; /* Escala la imagen para que quepa completa */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del div */
}

.admin-btns {
  display: flex;
  justify-content: space-evenly;
}



/*Responsive courses styles starts*/
@media only screen and (max-width: 600px) {
  .slide {
    display: flex;
    justify-content: space-between;
  }

  .slide .course-card {
    align-items: center;
    min-width: 280px;
    margin: 3%;
  }

  .slide .videoblog-banner-card {
    min-width: 268px;
    height: 260px;
    margin-bottom: 1rem;
    border-radius: 15px;
    margin-left: 2rem;
    align-self: center;
  }

  .course-card {
    width: 280px;
    display: grid;
    min-height: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .course-card-img {
    width: 15rem;
    height: 14rem;
    margin-bottom: 0%;
  }

  .course-title {
    margin-right: 2rem;
  }

  .course-card .course-title {
    font-size: 16px;
  }

  .c-details {
    font-size: 12px;
  }

  .c-info {
    text-align: justify;
    font-size: 13px;
  }

  .c-list {
    display: none;
  }
}

/*Responsive courses styles ends*/
