.slide {
  overflow: hidden;
  height: max-content;  
}

.course-card {
  display: flex;
  align-items: center;
  width: 800px;
  height: 450px;
  border: double 1px transparent;
  background-image: linear-gradient(#601875, #102172),
    linear-gradient(90deg, #650577, #f66c49, #f82f5c);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 15px;
  animation: fadeIn 1s ease-out forwards;
}

.slide .course-card {
  margin-left: 1rem;
  margin-right: 1rem;
}

.course-card .course-title  {
  font-size: 18px;
}

.course-card, .course-card-img {
  border-radius: 15px;
}

.c-subtitle {
  margin-left: 3rem;
}

.course-card-img {
  align-self: center;
  width: 21rem;
  height: 20rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.card.info {
  width: fit-content;
  display: grid;
  margin-right: 6rem;
}

.course-mod {
  background: linear-gradient(90deg, #b3d9d7, #87e0f7);
  width: fit-content;
  height: auto;
  color: var(--bg-primary);
  text-align: inherit;
  border-radius: 5px;
  margin-bottom: 0;  
}

.course-title {
  font-size: 20px;  
}

.course-title, .course-mod {
  margin-left: 1rem;
}

.course-data {
  display: flex;
  justify-content: space-around;
}

.c-list, .course-data {
  font-size: 12px;
}

.categorie {
  display: grid;
  margin-bottom: 3rem;
  justify-content: center;
}

.categorie h4 {
  justify-self: left;
  margin-left: 0;
}

.categorie hr {
  width: 100%;
  margin-bottom: 1rem;
}


/*Responsive courses styles starts*/
@media only screen and (max-width: 600px) {
  .grid-banner {
    display: grid;
    grid-template-columns: auto;
    row-gap: 30px;
    column-gap: 10px;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .course-card {
    display: grid;
    width: 280px;
    min-height: 200px;
  }

  .course-card-img {
    width: 12rem;
    height: 5rem;
  }

  .course-title {    
    margin-right: 2rem;
    font-size: 17px;
  }

  .c-details {
    font-size: 12px;
  }

  .c-info {
    text-align: justify;
    font-size: 13px;
  }

  .c-list{
    display: none;
  }

}

/*Responsive courses styles ends*/
