.brain {
  display: grid;
  justify-content: center;
}

.superior-lobes,
.inferior-lobes {
  display: flex;
  margin-bottom: 2rem;
}

.high-lobe,
.low-lobe {
  margin-right: 2rem;
}

.high-lobe,
.high-r-lobe,
.low-lobe,
.low-r-lobe {
  display: flex;
  width: 300px;
  height: 350px;
  border: double 5px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  align-items: center;
  justify-content: center;
}

.high-lobe {
  background-image: linear-gradient(#601875, #102172),
    linear-gradient(90deg, #f82f5c, #f66c49, #650577);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 20px;
}

.high-r-lobe {
  background-image: linear-gradient(#601875, #102172),
    linear-gradient(90deg, #650577, #b3d9d7, #87e0f7);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 20px;
}

.low-lobe {
  background-image: linear-gradient(#601875, #102172),
    linear-gradient(90deg, #e595f9, #d51a74, #650577);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 250px;
}

.low-r-lobe {
  background-image: linear-gradient(#601875, #102172),
    linear-gradient(90deg, #650577, #e31de0, #5760a3);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 250px;
}

/*Responsive courses styles starts*/
@media only screen and (max-width: 600px) {
  .high-lobe,
  .high-r-lobe,
  .low-lobe,
  .low-r-lobe {
    width: 150px;
    height: 175px;
  }

  .superior-lobes,
  .inferior-lobes {
    margin-bottom: 1rem;
  }

  .high-lobe,
  .low-lobe {
    margin-right: 1rem;
  }

  .mod-title {
    font-size: 13px;
    text-align: center;
  }
}
