.serv-title {
  display: flex;
  justify-content: center;
}

.serv-list-container {
  display: grid;
}

.serv-list, .spec-serv-container {
  display: grid;
  text-align: justify;
  background: linear-gradient(-135deg, #5760a3 35%, #601875  );
  border-radius: 20px;
}

.serv-list {
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  animation: slideLeft 0.8s ease-out forwards;
}

.serv{
  margin-bottom: 1rem;
}

.spec-serv-container {
  justify-content: flex-start;
}

.spec-serv-container, .serv-subtitle{
  display: grid;
  justify-content: center;  
  font-size: 25px;
  animation: slideRight 0.8s ease-out forwards;
}

.spec-serv-list {
  font-size: 18px;
}

.spec-serv {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .serv-list {
    padding-left: 3rem;
    padding-right: 3rem; 
  }

  .spec-serv-list{
    padding-right: 1rem;
  }

  /* .spec-serv-container, .serv-subtitle{
    width: 380px;
  } */

}
