body {
  margin: 0;
  background: linear-gradient(#601875, #102172);
}

:root {
  font-family: sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-primary: #242424;
  --bg-secondary: #141418;
  --text-primary: rgba(255, 255, 255, 0.87); 
  --transition-speed: 600ms;
}

.page-title {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1;
  color: #fff;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

/*----------------Form styles stars----------------*/
.simple-form {
  display: grid;
}

form input[type="text"],
input[type="email"], input[type="password"], textarea {
  width: 20%;
  margin: 8px 0;
  background-color: aliceblue;
  color: black;
}

form button {
  width: 5%;
  background-color: #102172;
}

form input[type="text"],
input[type="email"],
input[type="password"], textarea {
  box-sizing: border-box;
  border-radius: 7px;
  padding: 12px 20px;
}
/*----------------Form styles ends----------------*/

/*----------------Common card styles starts----------------*/
.serv-card, .team-card{
  display: grid;
  width: 550px;
  margin-bottom: 15px;
  justify-self: center;
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.card-info{
  display: grid;
}
/*----------------Common card styles ends----------------*/

/*----------------Slider styles starts----------------*/
.slider-container{
  display: flex;
  justify-items: center;
}

.slide {  
  display: flex;
  justify-content: center;
}

.slider-btn{
  display: flex;
  width: 40px;
  height: 40px;
  align-self: center;
}
/*----------------Slider styles ends----------------*/

/*----------------Form styles starts----------------*/
.login-form {
  display: grid;
  margin-top: 15rem;
  margin-bottom: 17rem;
}
/*----------------Form styles ends----------------*/

/*----------------Footer styles starts----------------*/
.footer{
  display: flex;
  justify-content: space-around;
  font-size: small;
  align-items: flex-end;
  width: 100%;
}

.form, .footer-hr{
  padding-top: 3hv;
}
/*----------------Footer styles ends----------------*/

/*----------------Responsive styles starts----------------*/
@media only screen and (max-width: 600px){

  /*-----Responsive Form starts-----*/
  form input[type="text"],
  input[type="email"], input[type="password"] {
    width: 80%;
  }

  form button[type='submit']{
    width: 50%;
  }

  form textarea{
    width: 90%;
    height: 100px;
  }
  /*-----Responsive Form ends-----*/

  /*-----Responsive Cards starts-----*/
  .team-card {
    width: 20rem;
    height: fit-content;
  }

  .team-card-body {
    display: grid;
  }

  .serv-card {
    width: 20rem;
  }

  .serv-card-img {
    width: 18rem;
    height: fit-content;
  }

  .serv-btn{
    width: 10rem;
  }
/*----- Responsive Cards ends-----*/

/*----- Responsive Slider sarts-----*/
  .slide{
    width: 300px;
  }

  .slider-container {
    width: fit-content;
  }
/*----- Responsive Slider ends-----*/

/*----- Responsive Slider starts-----*/


.login-form {
  margin-bottom: 16rem;
}
/*----- Responsive Slider ends-----*/

}
/*----------------Responsive styles ends----------------*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
