body {
  margin: 0;
  background: linear-gradient(#601875, #102172);
}

:root {
  font-family: roboto, sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-primary: #242424;
  --bg-secondary: #141418;
  --text-primary: rgba(255, 255, 255, 0.87);
  --transition-speed: 600ms;
}

.page-title {
  text-align: center;
  font-size: 35px;
  line-height: 1;
  color: #fff;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

/*----------------Form styles stars----------------*/
.simple-form {
  display: grid;
  justify-content: center;
}

form input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  /* width: 20%; */
  margin: 8px 0;
  background-color: aliceblue;
  color: black;
}

form button {
  width: 5%;
  background-color: #102172;
}

form input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  box-sizing: border-box;
  border-radius: 7px;
  padding: 12px 20px;
}
/*----------------Form styles ends----------------*/

/*----------------Common card styles starts----------------*/
.serv-card,
.team-card {
  display: grid;
  width: 570px;
  justify-self: center;
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-info {
  display: grid;
}

.serv-btn,
.edit-btn,
.del-btn {
  height: 2rem;
  border-radius: 40px;
  border-style: solid;
  border-color: #fff;
  justify-self: center;
  font-size: large;
  background-image: linear-gradient(90deg, #601875, #102172);
}

.edit-btn,
.del-btn {
  width: 3rem;
  margin-top: 1rem;
}

.serv-btn {
  width: 12rem;
}

/*----------------Common card styles ends----------------*/

/*----------------Slider styles starts----------------*/
.slider-container {
  display: flex;
  justify-items: center;
  animation: fadeIn 1s ease-out forwards;
  overflow: hidden;
  width: 100%;
}

.slide {
  display: flex;
  transition: scroll 0.3s ease;
}

.slider-btn {
  display: flex;
  width: 40px;
  height: 40px;
  align-self: center;
}
/*----------------Slider styles ends----------------*/

/*--------------  width: 30px;
  height: 30px;
------------*/
.slider {
  position: relative;
  width: 100%;
  height: 530px;
  overflow: hidden;
}

.slideT2 {
  min-width: 100%;
  /* height: 520px; */
}

.slideT2 .course-card {
  /* height: 470px; */
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}
/*----------------Slider Type 2 styles ends----------------*/

/*----------------News Banner styles starts----------------*/

.banner-grid {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  justify-self: center;
}

.main-headlight {
  width: 805px;
  height: 540px;
}

.headlights {
  display: flex;
  justify-content: space-evenly;
}

.headlights .videoblog-banner-card {
  height: 260px;
  width: 790px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-size: cover; /* Escala la imagen para que quepa completa */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del div */
  flex-direction: column;
}

.videoblog-banner-card .serv-title {
  font-size: 20px;
  color: #cca1dc;
}
/*----------------News Banner styles ends----------------*/

/*----------------InstMatrix styles starts----------------*/
.instMatrix-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 2s ease-out forwards;
}

.instPic,
.instVideo {
  width: 500px;
  height: 500px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 20px;
}

/*----------------InstMatrix styles ends----------------*/

/*----------------Form styles starts----------------*/
.login-form {
  display: grid;
  margin-top: 15rem;
  margin-bottom: 17rem;
}
/*----------------Form styles ends----------------*/

/*----------------Course Dialog styles starts----------------*/
.course-dialog {
  width: 500px;
  height: 700px;
  border-radius: 20px;
  background: linear-gradient(#601875, #102172);
}

.dialog-header, .header-inst-icon {
  display: flex;
}

.dialog-header {
  justify-content: space-between;
}

.header-inst-icon {
  align-items: center;
  justify-content: space-evenly;  
}

.header-inst-icon a {
  margin-left: 15px;
}

.course-dialog form input[type="text"],
.course-dialog form textarea {
  width: unset;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.course-dialog {
  z-index: 1000; /* El z-index original del modal */
}

.modal-lowered-z-index {
  z-index: 500 !important; /* Este valor debe ser menor que el z-index del widget de Cloudinary */
}
/*----------------Course Dialog styles ends----------------*/

/*----------------instPost Dialog styles starts----------------*/
.instPost {
  display: grid;
}

.instPost-img, .instPost-video{
  width: 490px;
  height: 350px;
}

/*----------------instPost Dialog styles ends----------------*/

/*----------------Footer styles starts----------------*/
.footer {
  display: flex;
  justify-content: space-around;
  font-size: small;
  align-items: flex-end;
  width: 100%;
}

.form,
.footer-hr {
  padding-top: 3hv;
}
/*----------------Footer styles ends----------------*/


/*----------------Responsive styles starts----------------*/
@media only screen and (max-width: 600px) {
  /*-----Responsive Form starts-----*/
  form input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 80%;
  }

  form button[type="submit"] {
    width: 50%;
  }

  form textarea {
    width: 90%;
    height: 100px;
  }
  /*-----Responsive Form ends-----*/

  /*-----Responsive Cards starts-----*/
  .team-card {
    width: 20rem;
    height: fit-content;
  }

  .team-card-body {
    display: grid;
  }

  .serv-card {
    width: 20rem;
  }

  .serv-card-img {
    width: 18rem;
  }

  .serv-btn {
    width: 10rem;
  }
  /*----- Responsive Cards ends-----*/

  /*----- Responsive Slider sarts-----*/
  .slide {
    width: 300px;
  }

  .slider-container {
    width: fit-content;
  }
  /*----- Responsive Slider ends-----*/

  /*----------------Responsive Slider Type 2 styles starts----------------*/
  .slider {
    position: relative;
    width: 100%;
    height: 530px;
    overflow: hidden;
  }

  .slideT2 {
    min-width: 100%;
    /* height: 100%; */
  }

  .slideT2 .course-card {
    width: 350px;
  }

  .slideT2 .course-card .course-card-img {
    width: 315px;
  }

  .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
  }

  .dot.active {
    background-color: black;
  }
  /*----------------Responsive Slider Type 2 styles ends----------------*/

  /*----------------Responsive News Banner styles starts----------------*/
  .banner-grid {
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
    max-width: 380px;
  }

  .main-headlight {
    width: 380px;
    height: unset;
  }

  .videoblog-banner-card {
    width: 170px;
    height: 100px;
  }

  .categorie .videoblog-banner-card {
    width: 280px;
    height: 400px;
  }

  .videoblog-banner-card .serv-title {
    font-size: 15px;
  }
  /*----------------Responsive News Banner styles ends----------------*/

  /*----------------Course Dialog styles starts----------------*/
  .course-dialog {
    width: 335px;
    height: 700px;
    border-radius: 20px;
  }
  /*----------------Course Dialog styles ends----------------*/

  /*---------------- Responsive InstMatrix styles starts----------------*/
  .instMatrix-container {
    grid-template-columns: auto auto;
  }

  
  .instPic,
  .instVideo {
    width: 170px;
    height: 200px;
    margin-left: 6px;
    margin-right: 6px;    
  }
  /*---------------- Responsive InstMatrix styles ends----------------*/

  /*----------------instPost Dialog styles starts----------------*/
.instPost {
  display: grid;
  justify-content: space-around;
}

.instPost-img, .instPost-video {
  width: 300px;
  height: 300px;
}

/*----------------instPost Dialog styles ends----------------*/

  /*----- Responsive Login starts-----*/
  .login-form {
    margin-bottom: 16rem;
  }
  /*----- Responsive Login ends-----*/
}
/*----------------Responsive styles ends----------------*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Definir la animación */
@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Definir la animación */
@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Definir la animación */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}